body * {
	color: #666;
}

#main {
	min-height: 100vh;
}

/* Apps icon */
.apps {
	height: 32px;
	fill: grey;
}
/* Profile icon */
.profile {
	border: 0;
	border-radius: 50%;
}
.prof-wrapper {
	padding-left: 10px;
}

/* Search field input */
.search {
	border: solid 1px #aaa;
}

.input-group-text {
	border: none;
	background: transparent;
}

.form-control {
	border: none;
}

.btn {
	background-color: #ddd;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* Santa's little helper... */
/*.red {
	border: solid 3px red;
}*/